<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a routerLink="conge" class="brand-link">
    <img src="./assets/dist/img/logo.png" alt="AdminLTE Logo" class="" style="width: 180px; height: auto;">
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">INDEMNITES</li>
        <!--  <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Congés
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/conge" class="nav-link">
                <i class="fas fa-male nav-icon"></i>
                <p>Homme</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/congefemme" class="nav-link">
                <i class="fas fa-female nav-icon"></i>
                <p>Femme</p>
              </a>
            </li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a routerLink="/anciennete" class="nav-link">
            <i class="nav-icon far fa-user"></i>
            <p>
              Ancienneté
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/heuresup" class="nav-link">
            <i class="nav-icon far fa-clock"></i>
            <p>
              Heures supplémentaires
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/ifc" class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>
              IFC
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-ban"></i>
            <p>
              Licenciement
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/licenciement" class="nav-link">
                <i class="fas fa-graduation-cap nav-icon"></i>
                <p>Enseignement privé</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/presslicenciement" class="nav-link">
                <i class="fas fa-cog nav-icon"></i>
                <p>Presse</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/collectivitylicenciement" class="nav-link">
                <i class="fas fa-cog nav-icon"></i>
                <p>Collectivité teritoriale</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/autresecteur" class="nav-link">
                <i class="fas fa-cog nav-icon"></i>
                <p>Autres secteurs</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="nav-icon fas fa-user-times"></i>
            <p>
              Retraite
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/pressretraite" class="nav-link">
                <i class="fas fa-cog nav-icon"></i>
                <p>Presse</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/collectivityretraite" class="nav-link">
                <i class="fas fa-cog nav-icon"></i>
                <p>Collectivité teritoriale</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/retraite" class="nav-link">
                <i class="fas fa-cog nav-icon"></i>
                <p>Autres secteurs</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLink="/rappeldifferentiel" class="nav-link">
            <i class="nav-icon fas fa-columns"></i>
            <p>
              Rappel différentiel
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>