<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Heures supplémentaires</h1>
        </div>
        <div class="col-sm-6 hidden-print">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
            <li class="breadcrumb-item active">Heures supplémentaires</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"></h3>
            </div>
            <div class="card-body">
              <form [formGroup]="supHourForm">
                <div class="row">
                  <ngb-alert [dismissible]="true" *ngIf="showMessage">
                    <strong>Attention!</strong> {{ message }}
                  </ngb-alert>
                  <div class="col-12">
                    <label ngbPopover="Texte descriptif">Salaire réel<b class="text-danger"> *</b></label>
                    <input type="number" min="0" formControlName="baseSolde" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label ngbPopover="Texte descriptif">Heures à 15%</label>
                      <input type="number" min="0" formControlName="oneHour" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <label ngbPopover="Texte descriptif">Heures à 40%</label>
                    <input type="number" min="0" formControlName="twoHour" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label ngbPopover="Texte descriptif">Heures à 60%</label>
                      <input type="number" min="0" formControlName="threeHour" class="form-control">
                    </div>
                  </div>
                  <div class="col-6">
                    <label ngbPopover="Texte descriptif">Heures à 100%</label>
                    <input type="number" min="0" formControlName="fourHour" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                  </div>
                  <div class="col-md-4 hidden-print" style="text-align: center;">
                    <button type="button" class="btn btn-success btn-sm" [disabled]="!supHourForm.valid"
                      (click)="process()">Calculer</button>
                    <button type="button" class="btn btn-light btn-sm" (click)="cancel()">Annuler</button>
                  </div>
                  <div class="col-md-4">
                  </div>
                </div>
                <div *ngIf="showResult">
                  <div class="row mb-20">
                    <div class="col-2"></div>
                    <div class="col-md-8 mt-20" style="background: #f4f4f4;padding: 10px;">
                      <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3">
                        <div class="flex-grow-1">
                          <h6 class="m-0">MONTANT HEURES SUPPLEMENTAIRES:</h6>
                        </div>
                        <div><span class="result">{{supHour}}</span> FCFA</div>
                      </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                  <div class="row mb-20 hidden-print">
                    <div class="col-2"></div>
                    <div class="col-md-8 scan">
                      <span class="cursor" (click)="printPage()"><i class="fas fa-print"></i> Imprimer le
                        résultat</span>
                    </div>
                    <div class="col-2"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="hidden-print alert alert-info alert-definition alert-dismissible fade show" role="alert">
            <span>* Les heures accomplies au-delà de la durée légale de travail sont
              majorées comme suit :
              <ul>
                <li>15% de majoration pour les huit premières heures supplémentaires ;</li>
                <li>40% de majoration pour les heures supplémentaires effectuées au-delà
                  de la 48éme heures ;</li>
                <li>60% de majoration pour les heures effectuées de nuit.</li>
              </ul>
              <p>*Les heures supplémentaires effectuées le jour de repos hebdomadaire
                ou pendant les jours fériés sont majorées de :</p>
              <ul>
                <li>60% du taux horaire pendant le jour ;</li>
                <li>100% du taux horaire pendant la nuit.</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>